.App {
  text-align: center;
}

.main{
  margin: 0 auto;
  width: 30em;
  display: flex;
  flex-direction: column;
}


.complete{
  text-decoration: line-through;
}
.incomplete{
  text-decoration: none;
}


.inputAndButton{
  display: flex;
  flex-direction: column;
}

.complete{
  text-decoration: line-through;
  font-weight: bold;
  margin-right: 1em;
}
.incomplete{
  text-decoration: none;
  font-weight: bold;
  margin-right: 1em;
}

.submitButton{
  border-radius: 5px;
  border-color: blue;
  width: 6em;
  padding: 0.5em 0em;  
  background-color: blue;
  color: white;
  margin-top: 0.5em;
}

.inputField{
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  width: 16em;
  padding: 0.5em 0.5em;  
  margin-top: 0.5em;
  font-weight: bold;
}

.items{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.deleteButtons{
  border-radius: 5px;
  border-color: black;
  width: 6em;
  padding: 0.5em 0em;  
  background-color: black;
  color: white;
  margin-top: 0.5em;
  
}
.checkBox{
  margin-right: 1em;
}